<footer class="row">
    <div class="small-12 large-4 columns">
        <h3>Quick Links</h3>
        <ul id="footer-menu">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Our Services</a>
            </li>
            <li>
                <a href="#">Featured</a>
            </li>
            <li>
                <a href="#">Locations</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="small-12 large-4 columns">
        <h3>Contact Us</h3>
        <p>Elton Oxley<br>
            Primary Contact</p>
        <ul class="contact-details list list-icons">
            <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> <span>1555 W Cardinal Dr, Beaumont, TX 77705, USA</span></li>
            <li><i class="fa fa-phone"></i> <strong>Phone:</strong> <span>(409) 813-8400</span></li>
            <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <span><a href="mailto:eoxley@stmtires.com">eoxley@stmtires.com</a></span></li>
        </ul>
    </div>
    <div class="small-12 large-4 columns">
        <h3>CONTACT US</h3>
        <form>
            <label>Your Name (required)</label>
            <input type="text" name="Name">
            <label>Your Email (required)</label>
            <input type="text" name="Email">
            <label>Your Phone</label>
            <input type="text" name="Phone">
            <label>Your Message</label>
            <textarea rows="4" cols="50"></textarea>
            <input type="submit" name="Submit">
        </form>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <p>© Copyright 2017. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>