<div class="footer-wrapper">
    <footer id="footer">
        <div class="row footer-top">
            <div class="small-12 large-4 footer-section columns">
                <h3>Quick Links</h3>
                <ul id="footer-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#featured">Featured Products</a>
                    </li>
                    <li>
                        <a href="#products">Products</a>
                    </li>
                    <li>
                        <a href="#locations">Locations</a>
                    </li>
                    <li>
                        <a href="#contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="small-12 large-4 footer-section columns">
                <h3>Contact Us</h3>
                <p>Elton Oxley<br>
                    Primary Contact</p>
                <ul class="contact-details">
                    <li>
                    	<div class="contact-details-icon">
                    		<i class="fas fa-map-marker-alt"></i>
                    	</div>
                    	<div class="contact-details-content">
                    		<strong>Address:</strong> <span>1555 W Cardinal Dr, Beaumont, TX 77705, USA</span>
                    	</div>
                    </li>
                    <li>
                    	<div class="contact-details-icon">
                    		<i class="fas fa-phone"></i>
                    	</div>
                    	<div class="contact-details-content">
                    		<strong>Phone:</strong> <span>(409) 813-8400</span>
                    	</div>
                    </li>
                    <li>
                    	<div class="contact-details-icon">
                    		<i class="fas fa-envelope"></i>
                    	</div>
                    	<div class="contact-details-content">
                    		<strong>Email:</strong> <span><a href="mailto:eoxley@stmtires.com">eoxley@stmtires.com</a></span>
                    	</div>
                    </li>
                </ul>
            </div>
            <div class="small-12 large-4 footer-section columns">
                <h3>CONTACT US</h3>
                <form id="contact-us-footer" method="POST">
                    <label>Your Name (required)</label>
                    <input type="text" name="Name" required>
                    <label>Your Email (required)</label>
                    <input type="text" name="Email" required>
                    <label>Your Phone</label>
                    <input type="text" name="Phone">
                    <label>Your Message</label>
                    <textarea name="Message" rows="4" cols="50"></textarea>
                    <input type="submit" name="Submit" value="Send">
                </form>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="small-12 large-12 columns">
                <p>© 2018 Southern Tire Mart. All Rights Reserved.</p>
                <ul id="footer-bottom-menu">
                	<li>
                		<a href="#">Sitemap</a>
                	</li>
                	<li>
                		<a href="#">Privacy Policy</a>
                	</li>
                </ul>                
            </div>
        </div>
    </footer>
</div>